[submodule "third_party/crc"]
	path = third_party/crc
	url = https://github.com/xitren/crc.git
	tag = v1.0.1
[submodule "third_party/circular_buffer"]
	path = third_party/circular_buffer
	url = https://github.com/xitren/circular_buffer.git
	tag = v1.0.0
[submodule "third_party/patterns"]
	path = third_party/patterns
	url = https://github.com/xitren/patterns.git
	tag = v1.0.0
